{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- BARRA LATERAL ESQUERDA -->
    <aside>
        <div class="top">
            <div class="logo">
                <img class="logo">
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">
            <a href="" class="active">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Visão Geral</h3>
            </a>
            <a href="#">
                <i class="las la-certificate"></i>
                <h3>Autenticar</h3>
            </a>
            <a href="/records">
                <i class="las la-folder"></i>
                <h3>Registros</h3>
            </a>
            <a href="#">
                <i class="las la-file-signature"></i>
                <h3>Contratos</h3>
            </a>
            <a href="#">
                <i class="las la-cog"></i>
                <h3>Configurações</h3>
            </a>
            <a href="/logout">
                <i class="las la-sign-out-alt"></i>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!-- FIM DA BARRA LATERAL ESQUERDA -->

    <!-- CONTEÚDO CENTRAL -->
    <main>
        <h1>Visão Geral</h1>



        <!-- GRÁFICO PARA ANÁLISE -->
        <div class="chart-analyze">
            <h2>Relatórios</h2>
            <div class="chart">
            </div>
        </div>
        <!-- FIM DE GRÁFICO PARA ANÁLISE -->
    </main>
    <!-- FIM DO CONTEÚDO CENTRAL -->

    <!-- CONTEÚDO DO LADO DIREITO -->
    <div class="right">
        <!-- INÍCIO TOPO -->
        <div class="top">
            <button id="menu-btn">
                <i class="las la-bars"></i>
            </button>
            <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>
            <div class="profile">
                <div class="info">
                    {% if current_user.is_authenticated %}
                        <p>Olá, <b>{{ current_user.name }}</b></p> 
                    <small class="text-muted">{{ current_user.hierarchy }}</small>
                    {% endif %}
                </div>
                <div class="profile-photo">
                    <img src="{{ url_for('static', filename='images/profile.webp') }}">
                </div>
            </div>
        </div>
        <!-- FIM TOPO -->

        <!-- ATUALIZAÇÕES RECENTES  -->
        <div class="recent-updates">
            <h2>Atualizações Recentes</h2>
            <div class="updates">

            </div>
        </div>
        <!-- FIM DAS ATUALIZAÇÕES RECENTES -->
    </div>
    <!-- FIM DO CONTEÚDO DO LADO DIREITO -->
</div>

{% endblock %}