/* ==================== VARIÁVEIS ROOT ==================== */
:root {
    --color-primary: #181F24;
    --color-primary-variant: #263773;
    --color-danger: #00B8A5;
    --color-success: #41f1b6;
    --color-blue: #51aff7;
    --color-warning: #FF7F00;
    --color-white: #fff;
    --color-info-dark: #7D8FA1;
    --color-info-light: #DCE1EB;
    --color-dark: #181F24;
    --color-dark-variant: #677483;
    
    --color-light: rgba(132, 139, 200, 0.18);
    
    --color-dark-variant: #5B6F7B; 
    --color-background: #F6F6F9;
    --color-black: #292a2d;
    --color-input: #292a2d;
    --color-input-radio: #292a2d;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --logo: url(../images/logo-black-line.webp);
}


/* ==================== VARIÁVEIS DARK THEME ==================== */
.dark-light-variables {
    --color-primary: #DCE1EB;
    --color-dark-variant: #A3BDCC;
    --color-primary-variant: #181F24;
    --color-background: #1b1e23; 
    --color-white: #202528;
    --color-dark: #EDEFFD;
    --color-light: rgba(0, 0, 0, 0.4); 
    --color-black: #F6F6F9;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-input: rgba(237, 239, 253, 0.7);
    --color-input-radio: rgba(237, 239, 253, 0.254);
    --logo: url(../images/logo-white-line.webp);
}